<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ClienteMapper">
    <resultMap type="Cliente" id="ClienteResult">
        <id property="documento" column="c_documento"/>
        <result property="nombre" column="c_nombre"/>
        <result property="telefono" column="c_telefono"/>
        <result property="direccion" column="c_direccion"/>
        <result property="email" column="c_email"/>
        <result property="vetado" column="c_vetado"/>

        <collection property="rentados" ofType="ItemRentado"
                    resultMap="ItemRentadoResult" columnPrefix="ir_"/>
    </resultMap>

    <resultMap type="ItemRentado" id="ItemRentadoResult">
        <id property="id" column="id"/>
        <result property="fechainiciorenta" column="fechainiciorenta"/>
        <result property="fechafinrenta" column="fechafinrenta"/>

        <association property="item" javaType="Item"
                     resultMap="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult"
                     columnPrefix="i_"/>
    </resultMap>


    <select id="consultarClientes" parameterType="map" resultMap="ClienteResult">
        SELECT
            c.documento AS c_documento,
            c.nombre AS c_nombre,
            c.telefono AS c_telefono,
            c.direccion AS c_direccion,
            c.email AS c_email,
            c.vetado AS c_vetado,

            ir.id AS ir_id,
            ir.fechainiciorenta || ' 00:00:00.000' AS ir_fechainiciorenta,
            ir.fechafinrenta || ' 00:00:00.000' AS ir_fechafinrenta,

            i.id AS ir_i_id,
            i.nombre AS ir_i_nombre,
            i.descripcion AS ir_i_descripcion,
            i.fechalanzamiento || ' 00:00:00.000' AS ir_i_fechalanzamiento,
            i.tarifaxdia AS ir_i_tarifaxdia,
            i.formatorenta AS ir_i_formatorenta,
            i.genero AS ir_i_genero,

            ti.id AS ir_i_ti_id,
            ti.descripcion AS ir_i_ti_descripcion

        FROM VI_CLIENTES c
        LEFT JOIN VI_ITEMRENTADO ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS i ON ir.ITEMS_id = i.id
        LEFT JOIN VI_TIPOITEM ti ON i.TIPOITEM_id = ti.id
    </select>


    <select id="consultarCliente" parameterType="map" resultMap="ClienteResult">
        SELECT
            c.documento AS c_documento,
            c.nombre AS c_nombre,
            c.telefono AS c_telefono,
            c.direccion AS c_direccion,
            c.email AS c_email,
            c.vetado AS c_vetado,

            ir.id AS ir_id,
            ir.fechainiciorenta || ' 00:00:00.000' AS ir_fechainiciorenta,
            ir.fechafinrenta || ' 00:00:00.000' AS ir_fechafinrenta,

            i.id AS ir_i_id,
            i.nombre AS ir_i_nombre,
            i.descripcion AS ir_i_descripcion,
            i.fechalanzamiento || ' 00:00:00.000' AS ir_i_fechalanzamiento,
            i.tarifaxdia AS ir_i_tarifaxdia,
            i.formatorenta AS ir_i_formatorenta,
            i.genero AS ir_i_genero,

            ti.id AS ir_i_ti_id,
            ti.descripcion AS ir_i_ti_descripcion
        FROM VI_CLIENTES c
        LEFT JOIN VI_ITEMRENTADO ir ON c.documento = ir.CLIENTES_documento
        LEFT JOIN VI_ITEMS i ON ir.ITEMS_id = i.id
        LEFT JOIN VI_TIPOITEM ti ON i.TIPOITEM_id = ti.id
        WHERE c.documento = #{idcli}
    </select>

    <insert id="agregarItemRentadoACliente" parameterType="map">
        INSERT INTO VI_ITEMRENTADO (
            CLIENTES_documento,
            ITEMS_id,
            fechainiciorenta,
            fechafinrenta
        )
        VALUES (
            #{idcli},
            #{iditem},
            strftime('%Y-%m-%d', #{fechainicio} / 1000, 'unixepoch'),
            strftime('%Y-%m-%d', #{fechafin} / 1000, 'unixepoch')

        )
    </insert>

</mapper>
